/*profile*/

@import "../css/_theme.css";

        body{
            font-family: var(--primary-font);
            margin: 0%;
            padding: 0%;
            background-color: var(--grey-50);
        }

        #titulo{
            color: var(--main-color);
            font-size: 2rem;
        }

        #imagen-perfil{
            width: 370px;
            height: 500px;
            border-radius: 0px 0px 60px 0px;
        }

        #imagen-perfil-small{
            visibility: hidden;
            width: 0%;
            height: 0%;
        }

        #contenedor-foto{
            width: 378px;
            height: 500px;
            background-color: var(--main-color);
        }

        #contenido-perfil{
            padding: 20px 20px 20px 30px;
            flex: 1;
            min-width: 300px;
        }

        #texto-perfil{
            font-style: oblique;
            font-family: var(--condensed-font);
            font-size: 1.2rem;
            padding: 0px 0px 20px 0px;
        }

        .items-q{
            font-size: 1.2rem;
            padding-bottom: 10px;
        }

        .items-a{
            font-size: 1.2rem;
            padding-left: 15px;
            padding-bottom: 10px;
        }

        #negrita{
            font-weight: bolder;
        }

        #texto-correo{
            font-size: 1.2rem;
            text-align: justify;
        }

        p a{
            color: var(--main-color);
            font-weight: bold;
        }

        a:active{
            color: var(--accent-color);
        }

        #contenedor{
            border-collapse: collapse;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-wrap: wrap;
        }


/*index*/

        .navbar{
            background-color: var(--main-color);
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            margin: none;
        }

        .texto-nav{
            font-family: var(--flex-font);
            font-weight: bold;
            color: var(--white);
            font-size: 3rem;
        }

        #small-text{
            font-size: 1.8rem;
            font-weight: lighter;
        }

        #fondo-usuario{
            width: 50px;
            height: 50px;
            background-color: var(--accent-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #menu-hamburguesa{
            visibility: hidden;
            width: 0%;
            height: 0%;
        }

        .busqueda{
            display: flex;
            gap: 0px;
        }

        #barra{
            width: 240px;
            height: 40px;
            border-radius: 15px 0px 0px 15px;
            border: none;
            padding: 5px;
        }

        #boton{
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 0px 15px 15px 0px;
            background-color: var(--accent-color);
            color: var(--white);
        }

        .tabla{
            display: flex;
            flex-wrap: wrap;
            gap: 50px 50px;
            padding-left: 4%;
        }

        #texto-tabla{
            font-family: var(--primary-font);
            margin-left: 80px;
            font-size: 2rem;
        }

        .img-tabla{
            width: 300px;
            height: 300px;
            border-radius: 50px 50px 0px 0px;
            display: flex;
            flex-direction: column;
        }

        .espaciado{
            padding: 10px;
        }

        .info-img{
            font-family: var(--primary-font);
            text-align: left;
            padding: 15px 0px 0px 15px;
            background-color: var(--white);
            width: 285px;
            height: 40px;
            font-size: 1.2rem;
        }

        .pie-img{
            width: 300px;
            height: 30px;
            background-color: var(--main-color);
            border-radius: 0px 0px 50px 50px;
        }

        footer{
            text-align: center;
            font-family: var(--primary-font);
            color: var(--grey-200);
            padding: 30px 0px 35px 0px;
            border-top: 2px solid var(--grey-200);
            margin: 20px 0px 0px 0px;
            width: 100%;
            font-size: 1rem;
        }

        .enlace{
            text-decoration: none;
            color: var(--black);
        }

        .enlace:active{
            text-decoration: none;
            color: var(--black);
        }

        .espaciado:hover{
            animation: balanceo 2s infinite ease-in-out;
            z-index: 10;
        }

        .espaciado:hover .pie-img{
            background-color: var(--accent-color);
        }

/*animacion para que en index el listado se mueva de un lado a otro*/

@keyframes balanceo {
    0%{transform: scale(1.1) rotate(0deg);}
    25%{transform: scale(1.1) rotate(3deg); /* derecha */}
    75%{transform: scale(1.1) rotate(-3deg); /* izquierda */}
    100%{transform: scale(1.1) rotate(0deg);}
}

/*Media query*/


@media (min-width: 320px) and (max-width: 479px) {
    .busqueda {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    #fondo-usuario {
        visibility: hidden;
    }

    .texto-nav {
        font-size: 2.5rem;
    }

    #small-text {
        font-size: 1.25rem;
    }

    #menu-hamburguesa {
        visibility: visible;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 80%;
    }

    .navbar {
        width: 100%;
    }

    .tabla {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 2%;
    }

    #texto-tabla {
        margin-left: 10%;
    }

    #contenedor-foto {
        width: 100%;
        height: 5%;
    }

    #imagen-perfil {
        visibility: hidden;
        width: 0%;
        height: 0%;
        position: absolute;
    }

    #contenido-perfil {
        padding: 2%;
    }

    footer {
        width: 100%;
    }

    #imagen-perfil-small{
        visibility: visible;
        width: 100%;
        height: auto;
        border-radius: 0px 0px 60px 0px;
    }

}

/*lo hice de esta manera porque necesito qeu los tamaños sean diferentes y para que no
se solapen y me cambien la estructura tuve que poner estas condiciones*/
@media (min-width: 480px) and (max-width: 480px) {
    .busqueda {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    #fondo-usuario {
        visibility: hidden;
    }

    .texto-nav {
        font-size: 2.5rem;
    }

    #small-text {
        font-size: 1.25rem;
    }

    #menu-hamburguesa {
        visibility: visible;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 65%;
    }

    .navbar {
        width: 70%;
    }

    .tabla {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 5%;
    }

    #texto-tabla {
        margin-left: 10%;
    }

    #contenedor{
        width: 78%;
    }

    #contenedor-foto {
        width: 100%;
        height: auto;
    }

    #imagen-perfil {
        visibility: hidden;
        width: 0%;
        height: 0%;
        position: absolute;
    }

    #contenido-perfil {
        padding: 2%;
    }

    footer {
        width: 78%;
    }

    #imagen-perfil-small{
        visibility: visible;
        width: 100%;
        height: auto;
        border-radius: 0px 0px 60px 0px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .busqueda {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    #fondo-usuario {
        visibility: hidden;
    }

    #menu-hamburguesa {
        visibility: visible;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 90%;
    }

    .navbar {
        width: 100%;
    }

    .tabla {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 15%;
    }

    #contenedor{
        width: 100%;
    }

    #contenedor-foto {
        width: 100%;
        height: auto;
    }

    #imagen-perfil {
        visibility: hidden;
        width: 0%;
        height: 0%;
        position: absolute;
    }

    #contenido-perfil {
        padding: 2%;
    }

    #imagen-perfil-small{
        visibility: visible;
        width: 100%;
        height: auto;
        border-radius: 0px 0px 60px 0px;
    }
}

@media (min-width: 768px) and (max-width: 768px) {

    .busqueda {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    #fondo-usuario {
        visibility: hidden;
    }

    #menu-hamburguesa {
        visibility: visible;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 90%;
    }

    .navbar {
        width: 95%;
    }

    .tabla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: left;
        padding: 0% 0% 0% 5%;
        gap: 0%;
    }

    #texto-tabla {
        margin-left: 5%;
    }

    #contenedor{
        width: 100%;
    }

    #contenedor-foto {
        width: 100%;
        height: auto;
    }

    #imagen-perfil {
        visibility: hidden;
        width: 0%;
        height: 0%;
        position: absolute;
    }

    #contenido-perfil {
        padding: 2%;
    }

    #imagen-perfil-small{
        visibility: visible;
        width: 100%;
        height: auto;
        border-radius: 0px 0px 60px 0px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {

    .busqueda {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    #fondo-usuario {
        visibility: hidden;
    }

    #menu-hamburguesa {
        visibility: visible;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 90%;
    }

    .navbar {
        width: 97%;
    }

    .tabla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: left;
        padding: 0% 0% 0% 5%;
        gap: 0%;
    }

    #texto-tabla {
        margin-left: 5%;
    }

    #contenedor{
        width: 100%;
    }

    #contenedor-foto {
        width: 100%;
        height: auto;
    }

    #imagen-perfil {
        width: 100%;
        height: auto;
    }

    #contenido-perfil {
        padding: 2%;
    }
}
